---
title: SqureRoot Learning
---
extends layouts/_layout
block content
    .main
        +header('active')
        .main__center.center
            .main__wrap
                h1.main__title.title(data-aos)
                    p <span>Squareroot</span> 
                    p <span>Learning</span>
                .main__info(data-aos="animation-translate-up" data-aos-delay="200")
                .main__text Are you not able to maintain your Technological Edge?
                .main__text Are you struggling to find learning options that match your work schedule?
                .main__text We understand your concerns.
                .main__text We offer you 1-on-1 training option which will fit your work schedule like hand in glove at an affordable fee.
                a(href="https://forms.office.com/Pages/ResponsePage.aspx?id=a36YO1zr_E-lKCBe8vm996BSZynwMs5MtXI3IAMFRe5URVA5SEtVTTIyRFAwWlBXTExKOTZKTldVWS4u")
                    .main__btn(data-aos="animation-translate-up" data-aos-delay="400")
                        button.btn.btn_primary Book a Demo
            .main__bg(data-aos)
                .main__preview
                    img.main__pic(src="img/sl_bg.png" alt="")
    .details.js-details#details
        .bg
            .bg__preview
                img.bg__pic.js-parallax(data-scale="1.3" data-orientation="left" src="img/bg.svg" alt="")
        .details__center.center
            .details__head.head
                .head__box
                    .head__stage.stage(data-aos="animation-translate-right") <span class="stage__number">01.</span> Who We Are
                    h2.head__title.h2(data-aos="animation-scale-y" data-aos-delay="200") We Deliver Solutions that Lead and Inspire.
                    br
                    p(data-aos="animation-scale-y" data-aos-delay="600") We are a global IT & Robotics company providing strategic IT & Robotics based business solutions and services for complex business problems, in multiple industry sectors including Logistics, e-commerce, retail, healthcare, education, and more. Our vast technology and industry expertise enable us to focus on cutting-edge internet technologies with the aim to develop scalable, secure and easy-to-use software, robots, analytical solution that work across multiple devices. We believe that the judicious use of technology, together with a good design can reduce complexity, connect individuals, and provide valuable insights, all of which ultimately help businesses succeed.
            .details__foot
                .details__wrap
                    h5.details__info.h5(data-aos="animation-scale-y") Our Mission is to solve unsolved innovatively.
                    .details__text(data-aos="animation-scale-y" data-aos-delay="200") A2ai is solving the customer needs in the most innovate way with inventive design and development to convey outstanding technology infrastructure, services, and solutions that make esteem and solid upper hand for our consumers around the globe.
                    h5.details__info.h5(data-aos="animation-scale-y") Shaping automation is our passion.
                .details__counter(data-aos)
                    .details__front
                    .details__back
                        .details__number.number 20
                        .details__category.h6 Projects Delivered
    .cases
        .cases__center.center
            .overview__list
                .overview__item(data-aos="animation-translate-up")
                    .overview__inner
                        .overview__category.h6 Top Vendors / Technologies
                        br
                        h5(style="text-align: left;").row
                            .column
                                ul
                                li.overview__listyle
                                    a(href='/microsoft-training-certification-courses' style='color: #333;') Microsoft 
                                    .overview__linumber 987
                                li.overview__listyle
                                    a(href='/vmware-training-certification-courses' style='color: #333;') VMware 
                                    .overview__linumber 89
                                li.overview__listyle
                                    a(href='/cisco-training-certification-courses' style='color: #333;') Cisco 
                                    .overview__linumber 64
                                li.overview__listyle
                                    a(href='/oracle-training-certification-courses' style='color: #333;') Oracle 
                                    .overview__linumber 33
                                li.overview__listyle
                                    a(href='/open-source-training-and-certification-courses' style='color: #333;') Open Source 
                                    .overview__linumber 47
                                li.overview__listyle
                                    a(href='/ec-council-training-certification-courses' style='color: #333;') EC-Council 
                                    .overview__linumber 30
                                li.overview__listyle
                                    a(href='/aws-training' style='color: #333;') AWS 
                                    .overview__linumber 29
                                li.overview__listyle
                                    a(href='/axelos-training-certification-courses' style='color: #333;') Axelos 
                                    .overview__linumber 17
                                li.overview__listyle
                                    a(href='/isc2-it-security-expert-certification-training-courses' style='color: #333;') (ISC)2 
                                    .overview__linumber 12
                                li.overview__listyle
                                    a(href='/comptia-training-certification-courses' style='color: #333;') CompTIA 
                                    .overview__linumber 18
                                li.overview__listyle
                                    a(href='/isaca-information-systems-audit-control-association-training-courses' style='color: #333;') ISACA 
                                    .overview__linumber 9
                                li.overview__listyle
                                    a(href='/google-training-certification-courses' style='color: #333;') Google 
                                    .overview__linumber 7
                                li.overview__listyle
                                    a(href='/pmi-training-certification-courses' style='color: #333;') PMI 
                                    .overview__linumber 9
                                li.overview__listyle
                                    a(href='/redhat-training-certification-courses' style='color: #333;') Red Hat 
                                    .overview__linumber 5
                                li.overview__listyle
                                    a(href='/fortinet-security-training-certification-course' style='color: #333;') Fortinet 
                                    .overview__linumber 4
                                li.overview__listyle
                                    a(href='/scrumstudy-training-certification-courses' style='color: #333;') SCRUMstudy 
                                    .overview__linumber 4
                                li.overview__listyle
                                    a(href='/citrix-training-certification-courses' style='color: #333;') Citrix 
                                    .overview__linumber 3
                                li.overview__listyle
                                    a(href='/checkpoint-training-certification-courses' style='color: #333;') Check Point 
                                    .overview__linumber 2
                                li.overview__listyle
                                    a(href='/the-open-group-training-and-certification-courses' style='color: #333;') The Open Group 
                                    .overview__linumber 2
                                li.overview__listyle
                                    a(href='/cloud-security-alliance-training-and-certification-courses' style='color: #333;') Cloud Security Alliance 
                                    .overview__linumber 2
                            .column
                                ul
                                li.overview__listyle
                                    a(href='/salesforce-training-certification-courses' style='color: #333;') Salesforce 
                                    .overview__linumber 12
                                li.overview__listyle
                                    a(href='/sap-training-certification-courses' style='color: #333;') SAP 
                                    .overview__linumber 12
                                li.overview__listyle
                                    a(href='/bcs-training-and-certification-courses' style='color: #333;') BCS 
                                    .overview__linumber 11
                                li.overview__listyle
                                    a(href='/beingcert-training-course-certification' style='color: #333;') Beingcert 
                                    .overview__linumber 9
                                li.overview__listyle
                                    a(href='/netsuite-training-course-certification' style='color: #333;') NetSuite 
                                    .overview__linumber 9
                                li.overview__listyle
                                    a(href='/ibm-training-certification-courses' style='color: #333;') IBM 
                                    .overview__linumber 6
                                li.overview__listyle
                                    a(href='/pecb-training-certification-courses' style='color: #333;') PECB 
                                    .overview__linumber 4
                                li.overview__listyle
                                    a(href='/devops-institute-training-course-certification' style='color: #333;') DevOps Institute 
                                    .overview__linumber 4
                                li.overview__listyle
                                    a(href='/cwnp-training-certification' style='color: #333;') CWNP 
                                    .overview__linumber 3
                                li.overview__listyle
                                    a(href='/apple-training-certification-courses' style='color: #333;') Apple 
                                    .overview__linumber 2
                                li.overview__listyle
                                    a(href='/iiba-business-analysis-training-courses' style='color: #333;') IIBA 
                                    .overview__linumber 1
                                li.overview__listyle
                                    a(href='/palo-alto-training-certification-course' style='color: #333;') Palo Alto 
                                    .overview__linumber 1
                                li.overview__listyle
                                    a(href='/cncf-training-course-certification' style='color: #333;') CNCF
                                    .overview__linumber 1
                                li.overview__listyle
                                    a(href='/splunk-training-courses-certification' style='color: #333;') Splunk 
                                    .overview__linumber 1
                                li.overview__listyle
                                    a(href='/uipath-certification-training-courses' style='color: #333;') UiPath 
                                    .overview__linumber 1
                                li.overview__listyle
                                    a(href='/cloud-computing-training-courses' style='color: #333;') Cloud Computing
                                    .overview__linumber 654
                                li.overview__listyle
                                    a(href='/microsoft-windows-azure-training-courses' style='color: #333;') Microsoft Azure
                                    .overview__linumber 542
                                li.overview__listyle
                                    a(href='/security-training-courses' style='color: #333;') Security
                                    .overview__linumber 221
                                li.overview__listyle
                                    a(href='/microsoft-dynamics-training-certification-courses' style='color: #333;') Microsoft Dynamics
                                    .overview__linumber 117
                                li.overview__listyle
                                    a(href='/dynamics-365-training-certification' style='color: #333;') Microsoft Dynamics 365
                                    .overview__linumber 109

                .overview__item(data-aos="animation-translate-up")
                    .overview__inner
                        .overview__category.h6 Top Courses
                        br
                        h5(style="text-align: left;")
                            ul
                            li.overview__listyle
                                a(href='/microsoft-azure-administrator-training' style='color: #333;') AZ-104T00-A: Microsoft Azure Administrator
                                .overview__linumber 83
                            li.overview__listyle
                                a(href='/da-100-analyze-data-with-power-bi-training' style='color: #333;') DA-100 Analyze Data with Power BI
                                .overview__linumber 81
                            li.overview__listyle
                                a(href='/microsoft-azure-fundamentals-training' style='color: #333;') AZ-900T01: Microsoft Azure Fundamentals (1 day)
                                .overview__linumber 64
                            li.overview__listyle
                                a(href='/az-303-microsoft-azure-architect-training' style='color: #333;') AZ-303: Microsoft Azure Architect Technologies
                                .overview__linumber 62
                            li.overview__listyle
                                a(href='/developing-solutions-microsoft-azure-training' style='color: #333;') AZ-204: Developing Solutions for Microsoft Azure
                                .overview__linumber 47
                            li.overview__listyle
                                a(href='/azure-security-technologies-training' style='color: #333;') AZ-500: Microsoft Azure Security Technologies
                                .overview__linumber 39
                            li.overview__listyle
                                a(href='/az-400-devops-solutions-training' style='color: #333;') AZ-400T00-A: Designing and Implementing Microsoft DevOps solutions
                                .overview__linumber 36
                            li.overview__listyle
                                a(href='/az-304-microsoft-azure-architecture-design-training' style='color: #333;') AZ-304: Microsoft Azure Architect Design
                                .overview__linumber 32
                            li.overview__listyle
                                a(href='/ms-power-platform-fundamentals-training' style='color: #333;') Microsoft Power Platform Fundamentals
                                .overview__linumber 22
                            li.overview__listyle
                                a(href='/vmware-vSphere-install-configure-manage-7-training' style='color: #333;') VMware vSphere: Install, Configure, Manage [V7]
                                .overview__linumber 19
                            li.overview__listyle
                                a(href='/dp900-ms-azure-data-fundamentals-training' style='color: #333;') DP-900: Microsoft Azure Data Fundamentals
                                .overview__linumber 18
                            li.overview__listyle
                                a(href='/designing-implementing-data-science-on-azure' style='color: #333;') DP-100T01: Designing and Implementing a Data Science Solution on Azure
                                .overview__linumber 18
                            li.overview__listyle
                                a(href='/desigining-azure-data-solution-training' style='color: #333;') DP-201T01: Designing an Azure Data Solution
                                .overview__linumber 16
                            li.overview__listyle
                                a(href='/mb-920-exam-prep' style='color: #333;') Microsoft Dynamics 365 Fundamentals Finance and Operations Apps (ERP)
                                .overview__linumber 15
                            li.overview__listyle
                                a(href='/implementing-azure-data-solutions' style='color: #333;') DP-200T01: Implementing an Azure Data Solution
                                .overview__linumber 15
                            li.overview__listyle
                                a(href='/ms-dynamics-365-fundamentals-training' style='color: #333;') Microsoft Dynamics 365 Fundamentals
                                .overview__linumber 12
                            li.overview__listyle
                                a(href='/ms-azure-ai-fundamentals-training' style='color: #333;') Microsoft Azure AI Fundamentals
                                .overview__linumber 12
                            li.overview__listyle
                                a(href='/mb-910-exam-prep' style='color: #333;') Microsoft Certified: Dynamics 365 Fundamentals (CRM)
                                .overview__linumber 12
                            li.overview__listyle
                                a(href='/managing-microsoft-teams-training' style='color: #333;') MS-700T00-A: Managing Microsoft Teams
                                .overview__linumber 9
                            li.overview__listyle
                                a(href='/powershell-certification-training-course' style='color: #333;') Automating Administration with Windows PowerShell
                                .overview__linumber 7
    .cases
        .cases__center.center
            h4.projects__info.h4(data-aos="animation-scale-y" data-aos-delay="200" style="text-align: center;") Our Clients
            br
            .case__list(style="flex-wrap: wrap; justify-content: center;")
                img.case__pic.industryicon(src="https://www.simplilearn.com/ice9/new_logo.svgz" alt="" style="width: 20%;")
    .overview(style="background-color: #fcdfe3;margin-bottom: 10%;")
        .overview__center.center(style="padding-top: 10%;")
            .overview__wrap
                .head__box
                    .head__stage.stage <span class="stage__line" data-aos="animation-translate-right"><span class="stage__number">04.</span> Meet the creators</span>
                h2.head__title.title(data-aos="animation-scale-y" data-aos-delay="200") Our Team
                .overview__text(data-aos="animation-scale-y" data-aos-delay="400" style="color: black;") Our team is highly skilled and well equipped with advance technologies, and diverse in culture, we all work together to achieve our mission and vision. We believe “If you want to go far, go together. Talent wins games, but team work and intelligence wins championships. We play together, we win together, we lose together, we stay together.”
            .overview__container(data-aos="animation-scale-y")
                .overview__preview
                    img.overview__pic(src="img/team.jpg" alt="")
    +about
    br
    .projects(style="margin-top: 10%;")
        .achievement
            .achievement__center.center
                .achievement__container
                    br
                    .achievement__group
                        .achievement__preview
                            img.achievement__pic(src="img/robo1.png" alt="")
                        .achievement__preview
                            img.achievement__pic.js-parallax(data-scale="1.3" data-orientation="up" src="img/achievement-pic-2.svg" alt="")
                        .achievement__preview
                            img.achievement__pic.js-parallax(data-scale="1.4" data-orientation="down" src="img/robo2.png" alt="")
                .achievement__wrap
                    .head__stage.stage <span class="stage__line" data-aos="animation-translate-right"><span class="stage__number">06.</span> Why Choose Us</span>
                    h1(data-aos="animation-scale-y" data-aos-delay="200") Does More, Costs Less.
                    h1(data-aos="animation-scale-y" data-aos-delay="600") It’s that Simple.
                    br
                    .achievement__info.h6(data-aos="animation-scale-y" data-aos-delay="700") <span>‣</span>Cost Effectiveness
                    .achievement__info.h6(data-aos="animation-scale-y" data-aos-delay="800") <span>‣</span>Flexible Engagement Models
                    .achievement__info.h6(data-aos="animation-scale-y" data-aos-delay="900") <span>‣</span>Leverage Latest Technologies
                    .achievement__info.h6(data-aos="animation-scale-y" data-aos-delay="1000") <span>‣</span>Responsive Design
                    .achievement__info.h6(data-aos="animation-scale-y" data-aos-delay="1100") <span>‣</span>24*7 Support












