//- Description no longer than 155 characters
meta(name="description" content="Carefully hand-picked and mastered to develop world-changing Software, Robots & Analytical Solutions")
//- Twitter Card data
meta(name="twitter:title" content="Squareroot Learning") 
meta(name="twitter:description" content="Carefully hand-picked and mastered to develop world-changing Software, Robots & Analytical Solutions")
//- Open Graph data
meta(property="og:title" content="Squareroot Learning") 
meta(property="og:type" content="Company")
meta(property="og:description" content="Carefully hand-picked and mastered to develop world-changing Software, Robots & Analytical Solutions" )
meta(property="og:site_name" content="Squareroot Learning")